{% extends 'base_manager.html.twig' %}
{% form_theme form '_form/bootstrap_4_horizontal_layout.html.twig' %}

{% block page_title %}
    <div class="manager-title-block">
        <div class="container"><h3>Список всех заявлений</h3></div>
    </div>
{% endblock %}

{% block body %}

    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#searchFilters" aria-expanded="true" aria-controls="collapseOne">
        Показать/скрыть фильтры
    </button>

    {{ form_start(form, {attr: {'class': 'form-inline'}}) }}

    <div class="card">
        <div class="card-header collapse" id="searchFilters">
            <div class="row">
                <div class="col">
                {{ form_row(form.status) }}
                {{ form_row(form.directorFullName) }}
                {{ form_row(form.companyIin) }}
                {{ form_row(form.companyName) }}
                {#{{ form_row(form.driverFullName) }}#}
                {{ form_row(form.carIdentifier) }}
                {{ form_row(form.save) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <hr />

    {# total items count #}
    <div class="count">
        Всего заявлений: {{ pagination.getTotalItemCount }}
    </div>
    <table class="table table-bordered table-hover">
        <tr>
            <th scope="col">{{ knp_pagination_sortable(pagination, '№ заявления', 'a.externalId') }}</th>
            <th{% if pagination.isSorted('a.companyName') %} class="sorted"{% endif %} scope="col">
                {{ knp_pagination_sortable(pagination, 'Наименование компании', 'a.companyName') }}
            </th>
            <th{% if pagination.isSorted(['a.companyIin']) %} class="sorted"{% endif %} scope="col">
                {{ knp_pagination_sortable(pagination, 'ИИН компании', 'a.companyIin') }}
            </th>
            <th{% if pagination.isSorted(['a.directorFullName']) %} class="sorted"{% endif %} scope="col">
                {{ knp_pagination_sortable(pagination, 'ФИО директора', 'a.directorFullName') }}
            </th>
            <th{% if pagination.isSorted(['a.createdAt']) %} class="sorted"{% endif %} scope="col">
                {{ knp_pagination_sortable(pagination, 'Дата создания', 'a.createdAt') }}
            </th>
            <th{% if pagination.isSorted(['a.status']) %} class="sorted"{% endif %} scope="col">
                {{ knp_pagination_sortable(pagination, 'Статус', 'a.status') }}
            </th>
            <th scope="col">
                Действия
            </th>
        </tr>

        {# table body #}
        {% for application in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ application.externalId }}</td>
                <td>{{ application.companyName }}</td>
                <td>{{ application.companyIin }}</td>
                <td>{{ application.directorFullName }}</td>
                <td>{{ application.createdAt | date('Y-m-d') }}</td>
                <td>
                    {% if application.status is constant('App\\Entity\\Application::STATUS_IN_QUEUED') %}
                        <span class="badge badge-secondary">В очереди</span>
                    {% elseif application.status is constant('App\\Entity\\Application::STATUS_ACCEPTED') %}
                        <span class="badge badge-success">Принято</span>
                    {% elseif application.status is constant('App\\Entity\\Application::STATUS_DECLINED') %}
                        <span class="badge badge-danger">Отклонено</span>
                    {% endif %}
                </td>
                <td><a class="btn btn-sm btn-primary" href="{{ url('manager_view', {id: application.id}) }}">Просмотр</a></td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}