{% extends 'base_manager.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block page_title %}
    <div class="manager-title-block">
        <div class="container"><h3>Просмотр заявления</h3></div>
    </div>
{% endblock %}


{% block body %}


    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table">
        <tr>
            <td>Дата создания</td>
            <td>{{ application.createdAt | date }}</td>
        </tr>
        <tr>
            <td>Статус заявки</td>
            <td>
                {% if application.status is constant('App\\Entity\\Application::STATUS_IN_QUEUED') %}
                    <span class="badge badge-secondary">В очереди</span>
                {% elseif application.status is constant('App\\Entity\\Application::STATUS_ACCEPTED') %}
                    <span class="badge badge-success">Принятно</span>
                {% elseif application.status is constant('App\\Entity\\Application::STATUS_DECLINED') %}
                    <span class="badge badge-danger">Отклонено</span>
                {% endif %}
            </td>
        </tr>
        {% if application.status is constant('App\\Entity\\Application::STATUS_DECLINED') %}
            <tr>
                <td>Причина отклонения</td>
                <td> {{ application.declinedReason }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>ФИО директора</td>
            <td>{{ application.directorFullName }}</td>
        </tr>
        <tr>
            <td>ИИН компании</td>
            <td>{{ application.companyIin }}</td>
        </tr>
        <tr>
            <td>Наименование компании</td>
            <td>{{ application.companyName }}</td>
        </tr>
        <tr>
            <td>Номер телефона</td>
            <td>{{ application.phoneNumber }}</td>
        </tr>
        <tr>
            <td>Район планируемых перемещений</td>
            <td>{{ application.movementArea }}</td>
        </tr>
        <tr>
            <td>Email для получения подтверждения</td>
            <td>{{ application.email }}</td>
        </tr>
    </table>

    <div class="subtitle-title-block">
        <h3>Транспорт</h3>
    </div>

    <table class="table">
        {% for car in application.cars %}
            <tr>
                <td>ФИО сотрудника</td>
                <td>{{ car.driverFullName }}</td>
            </tr>
            <tr>
                <td>Марка авто и госномер</td>
                <td>{{ car.carIdentifier }}</td>
            </tr>
        {% else %}
            <tr>
                <td>Транспорт не указан</td>
            </tr>
        {% endfor %}
    </table>


    {% if application.reviewedAt is not empty %}
        <div class="subtitle-title-block">
            <h3>Результаты рассмотрения</h3>
        </div>
        <br/>

        <table class="table">
            <tr>
                <td>Номер заявления</td>
                <td>{{ application.externalId }}</td>
            </tr>
            <tr>
                <td>Статус</td>
                <td>
                    {% if application.status is constant('App\\Entity\\Application::STATUS_IN_QUEUED') %}
                        <span class="badge badge-secondary">В очереди</span>
                    {% elseif application.status is constant('App\\Entity\\Application::STATUS_ACCEPTED') %}
                        <span class="badge badge-success">Принятно</span>
                    {% elseif application.status is constant('App\\Entity\\Application::STATUS_DECLINED') %}
                        <span class="badge badge-danger">Отклонено</span>
                    {% endif %}
                </td>
            </tr>
            {% if application.status is constant('App\\Entity\\Application::STATUS_DECLINED') %}
                <tr>
                    <td>Причина отклонения</td>
                    <td>{{ application.declinedReason }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>Имя проверяющего</td>
                <td>{{ application.officerFullName }}</td>
            </tr>
            <tr>
                <td>Дата рассмотрения</td>
                <td>{{ application.reviewedAt | date }}</td>
            </tr>
        </table>
    {% endif %}

    <div class="subtitle-title-block">
        <h3>Поменять статус</h3>
    </div>
    <br/>

    {{ form_start(form) }}

    {{ form_row(form.externalId) }}
    {{ form_row(form.status) }}
    {{ form_row(form.declinedReason) }}
    {{ form_row(form.officerFullName) }}
    {{ form_row(form.save) }}

    {{ form_end(form) }}


{% endblock %}

{% block javascripts %}

    <script>
        $(function () {
            var $statusElement = $('[name="accept_form[status]"]'),
                $declinedReason = $('[name="accept_form[declinedReason]"]'),
                $declinedReasonContainer = $declinedReason.closest('.form-group');

            var changeReasonVisibility = function () {
                $declinedReasonContainer.toggle(parseInt($statusElement.val()) === {{ constant('App\\Entity\\Application::STATUS_DECLINED') }});
                $declinedReason.focus();
            };
            $statusElement.change(function () {
                changeReasonVisibility();
            });
            changeReasonVisibility();
        });
    </script>

{% endblock %}